#tudo{
	 width: 600px;
     margin-left: auto ;
  	 margin-right: auto ;
  	 text-align: center;

}

h1{
	
	color: white; 
}

h2{
	color: white;
}
p{
	font-size: 13px;
}
a:hover{
	color: #e74c3c;
}
#c:hover{
	color: #c0392b;
}
